<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Foundation Coding</title>
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/fonts/css/font-awesome.css">
	<link rel="stylesheet" href="assets/css/prism.css">
	<link rel="stylesheet" href="assets/css/prism-xonokai.css">
	<link rel="stylesheet" href="assets/css/custom.min.css">
</head>
	<!-- data attribute for js validation -->
	<body data-page="membership">
		  
			<div class="reveal">

					<body>
						<div class="reveal">
							<div class="slides">

								<section>
									<h1>Form Validation</h1>
									<h2>Rules of Thumb</h2>
									<p> - Don’t provide confusing validation feedback. It should clearly communicate the errors and ways to fix them.</p>
									<p> - Don’t let users think about what information is required, always clearly mark required fields.</p>
									<p> - Never provide validation feedback on a single page or in a popup alert.</p>
									<p> - Don’t use dynamic effects as compensation for a badly designed form. Fancy effects won’t hide a poorly designed web form.</p>
									<p> - If you use Captcha, don’t forget to provide audio support and enable users to “reload” the Captcha.</p>
									<p> - Don’t forget to inform users when the form was completed successfully. It is as important as a good validation feedback.</p>
								</section>

								<section>
									<h1>HTML5 Validation</h1>
									<h3>On the repo at:11-28-2017 HTML5 form validation\html5-validation.html</h3>
									<img src="assets/images/html-val.jpg" alt="">
								</section>

								<section>
									<h1>Parsley.js</h1>
									<h3>On the repo at: 11-28-2017 HTML5 form validation\parsley-js.html</h3>
									<img src="assets/images/parsley.jpg" alt="">
								</section>

								<section>
									<h1>Other possible libraries, guides and plugins</h1>
									<a href="https://github.com/rickharrison/validate.js" target="_blank">
										<p>Validate.js</p>
									</a>
									<a href="http://formvalidation.io/" target="_blank">
										<p>formvalidation.io</p>
									</a>
									<a href="https://www.smashingmagazine.com/2009/07/web-form-validation-best-practices-and-tutorials/" target="_blank">
										<p>Smashing magazine article on forms and validation</p>
									</a>
								</section>


							</div> <!-- slides ENDS -->
						</div> <!-- reveal ENDS -->
					</body>

			</div> <!-- Reveal Div Ends -->

			<script src="assets/js/jquery.js"></script>
			<script src="assets/bootstrap/js/bootstrap.min.js"></script>
			<script src="assets/js/prism.js"></script>
			<script src="assets/js/bundle.js"></script>
	</body>
</html>	